html {
  display: flex;
  height: calc(100% - 48px);
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  align-items: center; }
  html body {
    background-color: darkblue;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    html body .container {
      display: flex;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-content: center;
      align-items: center; }
      html body .container .left {
        overflow: hidden;
        position: sticky;
        display: flex;
        height: 100%;
        width: 10%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: darkblue;
        flex-direction: column;
        color: white; }
      html body .container .middleBack {
        margin-left: 0;
        margin-right: 0;
        margin-top: 95px;
        width: 100%;
        height: 100%;
        padding: 0;
        align-content: center;
        align-items: center;
        background-color: white;
        color: white;
        flex-direction: column; }
      html body .container .middle {
        display: flex;
        align-self: center;
        margin: 30px 0 0 0;
        width: 100%;
        height: fit-content;
        padding: 0 0 25px 0;
        align-content: center;
        align-items: center;
        background-color: white;
        color: white;
        flex-direction: column; }
      html body .container .right {
        overflow: hidden;
        position: sticky;
        display: flex;
        height: 100%;
        width: 10%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: darkblue;
        color: white;
        flex-direction: column; }

.FakeDiv {
  padding: 0;
  margin-top: 6px;
  margin-bottom: 6px; }

.completed {
  color: white; }

.white {
  color: dodgerblue; }

nav {
  top: 0;
  z-index: 1;
  position: fixed;
  align-self: center;
  display: flex;
  width: 99%;
  flex-direction: row;
  overflow: hidden;
  background-color: dodgerblue;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 11px 5px rgba(0, 0, 0, 0.75); }

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

@media only screen and (min-width: 920px) {
  .task {
    width: 700px;
    border: solid dodgerblue 2px;
    background-color: white;
    color: darkblue; }
  .topInput {
    width: 300px; }
  .home {
    font-size: 20px; }
  #SelectBar {
    width: 100px; } }

@media only screen and (max-width: 920px) {
  .task {
    width: 280px;
    border: solid dodgerblue 2px;
    background-color: darkblue;
    color: white; }
  .topInput {
    width: 40px; }
  .home {
    font-size: 20px;
    width: 5px; }
  #SelectBar {
    width: 40px; } }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

.fadeIn2 {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn2 {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn2 {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
