html {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  body {
    background-color: dodgerblue;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .container {
      display: flex;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-content: center;
      align-items: center;
      .left {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: darkblue;
        flex-direction: column;
        color: white;
      }
      .right {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: green;
        color: white;
        flex-direction: column;
      }
    }
  }
}

.FakeDiv {
  margin-top: 6px;
  margin-bottom: 6px;
}

.task {

}

.completed {
  color: green;
}

.white {
  color: white;
}

/* Style the navbar */
#navbar {
  align-self: flex-start;
  overflow: hidden;
  background-color: dodgerblue;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}